In [199]:
import numpy as np
import pandas as pd

In [200]:
pd.__version__

'2.2.2'

In [201]:
laptop=pd.read_csv('laptops.csv')

In [202]:
laptop.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [203]:
laptop.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [204]:
laptop.shape

(2160, 12)

In [205]:
laptop.Brand.nunique()

27

In [206]:
laptop.Brand.isnull().sum()

0

In [207]:
laptop.Screen.isnull().sum()

4

In [208]:
laptop.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [209]:
dell=laptop[(laptop.Brand=='Dell')]

In [210]:
dell['Final Price'].max()

3936.0

In [211]:
laptop[laptop['Brand']=='Dell']['Final Price'].max()

3936.0

In [212]:
laptop.Screen.median()

15.6

In [213]:
laptop.Screen.describe()

count    2156.000000
mean       15.168112
std         1.203329
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [214]:
freq = laptop['Screen'].mode()[0]

In [215]:
freq

15.6

In [216]:
laptop['Screen'] = laptop['Screen'].fillna(freq)

In [217]:
laptop.loc[:,['Screen']]

      Screen
0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
...      ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4

[2160 rows x 1 columns]

In [218]:
laptop.Screen.isnull().sum()

0

In [219]:
laptop.Screen.describe()

count    2160.000000
mean       15.168912
std         1.202357
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [220]:
injoo=laptop[laptop['Brand']=='Innjoo'][['RAM','Storage','Screen']]

In [221]:
injoo

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [222]:
X=injoo.values

In [223]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [224]:
XT=X.T

In [225]:
XT

array([[  8. ,   8. ,   4. ,   6. ,   6. ,   6. ],
       [256. , 512. ,  64. ,  64. , 128. , 128. ],
       [ 15.6,  15.6,  14.1,  14.1,  14.1,  14.1]])

In [226]:
XTX=XT.dot(X)

In [227]:
XTXinv=np.linalg.inv(XTX)

In [228]:
XTXinv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [229]:
y=[1100, 1300, 800, 900, 1000, 1100]

In [230]:
y

[1100, 1300, 800, 900, 1000, 1100]

In [231]:
w = (XTXinv.dot(XT)).dot(y)

In [232]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [233]:
w.sum()

91.29988062995815